@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Health Care Appointment Booking</h1>
    <p><a asp-controller="Account" asp-action="Register">Register yourself.</a>.</p>
</div>
